.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}


/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}



#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 1em;
}

header { 
    display: flex;
    flex-direction: column;
    font-family: "Inria Serif", serif;
    justify-content: space-between;
  width: 1100px;
  margin: auto;
}

#myName{
    text-align: center;
    margin: 0px;
    font-size: 48px;
    font-family: "IM Fell English", serif;
}

#myName.switch{
    color: white;
}

#classInfo{
    display: flex;
    gap: 18px;
    justify-content: center;
    color: #a9b5aa;
}

#classInfo.switch{
    color: #F7DCB4;
}

#banner {
    width: 1120px;
    height: 250px;
    margin: auto;
    border-radius: 8px;
    /* border: 8px solid rgba(0, 0, 0, 0.8); */
    background: url(images/pirateBanner.png);
    overflow: hidden;
    display: grid;
    place-items: center;
    display: flex;
}

#banner.switch {
    background-color: #333;
    background: url(images/cowboyBanner.png);
    color: rgb(235, 235, 235);
    transition: all 2s;
}

#movingItem{
    animation: slide 5s ease-in-out infinite alternate;
    padding-left: 50px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(90px); /* Adjust distance as needed */
  }
}

#pirateShip.switch{
    visibility: hidden;
}

/* Page styling */
body {
    background-color: #1d1a1f;
    color: rgb(235, 235, 235);
    transition: all 2s;
    line-height: 1;
}

body.switch {
    background-color: #815a3e;
    color: #ffffff;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
    gap: 10px;
    padding-left: 75px;
    padding-right: 75px;
}

main section {
    flex: 1;
    margin: 0 .25em;
    padding: .5em;
    /* background-color: #575d7b2e; */
    background: linear-gradient(#5a4ea62e, #575d7b2e);
    color: white;
    text-align: center;
    height: fit-content;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

section:hover{
    background-color: #747b9a2e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-0.05px) scale(1.02);
}

section h3{
    font-family: "IM Fell English", serif;
}

section nav{
    text-align: justify;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1em;
    display: inline-block;
    padding: .5em;
    color: white;
}

section a:hover {
    background-color: orange;
    color: #354673;
}

section.switch{
    
    background: linear-gradient(rgba(218, 255, 250, 0.832), #ffffffd2);
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    color: rgb(46 42 40);
}

section.switch:hover{
    background: linear-gradient(rgb(218, 255, 250), #ffffff);
}

section.switch a {
    color: rgb(46 42 40);
}

section.switch a:hover {
    background-color: #A4C0C8;
    color: rgb(235, 235, 235);
}



button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 48px;
    background-color: transparent;
    background-image: url(images/skullSwitch.png);
    background-repeat: no-repeat;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: transparent;
    cursor: pointer;
    animation: wiggle 0.5s infinite;
}

button.switch {
    background-color: transparent;
    background-image: url(images/starSwitch.png);
    background-repeat: no-repeat;
}

button.switch:hover {
    background-color: transparent;
    color: transparent;
    animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}
