.im-fell-english-regular {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-english-regular-italic {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-light {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.inria-serif-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.inria-serif-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.inria-serif-light-italic {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: italic;
}

.inria-serif-regular-italic {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.inria-serif-bold-italic {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: italic;
}


/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}



#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 2em;
}

header { 
    display: flex;
    flex-direction: column;
    gap: 3px;
    font-family: "Inria Serif", serif;
    justify-content: space-between;
  width: 1100px;
  margin: auto;
}

#myName{
    text-align: center;
    margin: 0px;
    font-size: 48px;
    font-family: "IM Fell English", serif;
}

#myName.switch{
    color: white;
}

#classInfo{
    display: flex;
    gap: 18px;
    justify-content: center;
    color: #a9b5aa;
}

#classInfo.switch{
    color: #F7DCB4;
}

#banner {
    width: 1120px;
    height: 250px;
    margin: auto;
    border-radius: 8px;
    /* border: 8px solid rgba(0, 0, 0, 0.8); */
    background: url(images/pirateBanner.png);
    overflow: hidden;
    display: grid;
    place-items: center;
    display: flex;
}

#banner.switch {
    background-color: #333;
    background: url(images/cowboyBanner.png);
    color: rgb(235, 235, 235);
    transition: all 2s;
}

#movingItem{
    animation: slide 8s ease-in-out infinite alternate;
    padding-left: 50px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100px); /* Adjust distance as needed */
  }
}

#pirateShip.switch{
    visibility: hidden;
}

/* Page styling */
body {
    background-color: #171717;
    color: rgb(235, 235, 235);
    transition: all 2s;
    line-height: 1;
}

body.switch {
    background-color: #714B30;
    color: #333;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
    gap: 32px;
}

main section {
    /* flex: 1; */
    /* border: 1px rgb(235, 235, 235) dashed; */
    margin: 0 .25em;
    padding: 1em;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.card {
    border-radius: 8px;
    background: linear-gradient(#FFF3DA,#93949E);
    color: black;
    font-family: "Inria Serif", serif;
}

section li {
    padding-left: 1.2em;
}

section a {
    line-height: 1em;
    display: inline-block;
    padding: .5em;
    color: rgb(255, 255, 255);
}

section a:hover {
    background-color: orange;
    color: #354673;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 48px;
    background-color: transparent;
    background-image: url(images/skullSwitch.png);
    background-repeat: no-repeat;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: transparent;
    cursor: pointer;
    animation: wiggle 0.5s infinite;
}

button.switch {
    background-color: transparent;
    background-image: url(images/starSwitch.png);
    background-repeat: no-repeat;
}

button.switch:hover {
    background-color: transparent;
    color: transparent;
    animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0deg); }
}
