main{
  width: 100%;
  height: 100vh;

}

.showing{
    opacity: 100%;
}

.hidden{
    display: none;
}

.openingScene{

}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration: none;
    color: black;
}

#content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.openingScene section{
    line-height: 0px;
}

#startBtn{

}

#startBtn:hover{
    color: grey;
    cursor: pointer;
}

#flowerIMG1{
    background-image: url(images/flower1.png);
    background-position: center;
    width: 200px;
    height: 300px;

        position: absolute;
    top: 50px;
    left: 30px;
}

#flowerIMG2{
    background-image: url(images/flower2.png);
    background-position: center;
    width: 200px;
    height: 300px;
        position: absolute;
    bottom: 20px;
    left: 200px;
}

#flowerIMG3{
    background-image: url(images/flower3.png);
    background-position: center;
    width: 200px;
    height: 300px;

    position: absolute;
    top: 30px;
    right: 190px;
}

#flowerIMG4{
    background-image: url(images/flower4.png);
    background-position: center;
    width: 200px;
    height: 300px;

    position: absolute;
    top: 190px;
    right: 20px;
}