.dawning-of-a-new-day-regular {
  font-family: "Dawning of a New Day", cursive;
  font-weight: 400;
  font-style: normal;
}

#container{		
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 1200px; /* or desired width */
    margin: 0 auto;
    gap: 20px;
}

body {
    background-color: #F0EEE7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header{
    font-family: "Dawning of a New Day";
    margin: auto;
}

.fa-cloud-rain {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: antiquewhite;
    transform: translate(-50%, -50%);
    animation: rain 2s infinite alternate ease-in-out;
}

@keyframes rain {
0% {
    opacity: .5;
    transform: scale(1);
}
50% {
    opacity: 1;
}
100% {
    opacity: .5;
    transform: scale(1.5);
}
}

#video-container{
    position: relative;
    display: flex;
    justify-content: center;
}

#myVideo {

    /* max-width: 1200px;
    max-height: 750px; */
    width: 70%;
    border-radius: 8px;
    filter: none;
}

#myVideo.FS{
    max-width: 1200px;
    max-height: 750px;
    width: 100%;

    object-fit: cover;
    
}

#myVideo.paused{
    filter: grayscale();
}

#poem p {
    position: absolute;
    padding: 1em;
    font-size: 1.5em;
    background-color: black;
    color: white;
    border-width: 1px;
    border-style: inset;
    border-color: transparent;

}

#poem p:hover{
    color: black;
    background-color: white;
    border-style: inset;
    border-color: black;
}

#duck-container{
    position: absolute;
    bottom: 40%;
    left: 30%;
}

#duck{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    cursor: pointer;
}

#duck:hover{
    color: rgb(134, 134, 134);
}

#duckIMG{
    width: 300px;
}

#line1 {
    top: 15%;
    left: 20%;
}

#line2 {
    top: 40%;
    left: 43%;
}

#line3 {
    bottom: 15%;
    left: 68%;
}

#line4 {
    bottom: 30%;
    left: 30%;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

.fa-expand {
    position: relative;
    top: 10px;
    right: 60px;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.fa-expand:hover{
    color: rgb(198, 197, 197);
}